<h1>Previewing @ViewData["DollName"]</h1>
<p>
	You are currently previewing @ViewData["DollName"]! If you have any suggestions for attributes to
	include, please let us know by emailing our <a href="mailto:support@coates-industries.com">Support Email</a>.
</p>