@{
	ViewData["Title"] = "Doll Lookup";
}

<h1>--> @ViewData["Title"] <--</h1>
<p>
	Welcome to the unofficial Doll Lookup! You can search through a wide variety of dolls to find the one
	you are looking for!
</p>